@model WebSklad.Models.DeliveryModel

<div id="InnerTable">


    <h6 style="color:#ff0000">@ViewData["error"]</h6>
    <h6>Инструмент и СИЗ</h6>
    <table class="table table-sm table-bordered table-hover">
        <thead>
            <tr style="background:#EEF3F6">
                <th>#</th>
                <th>Наименование</th>
                <th>Кол-во (шт)</th>
                @{ if (ViewBag.state != "проведен")
                    {
                    <th></th>}
                }

            </tr>
        </thead>
        <tbody>
               
                @{int n = 1; }
                @foreach (var item in Model.PPEDeliveries)
                {
                   
                    <tr>
                        <td>@n</td>
                        <td>@item.PPE.Name</td>
                        <td>@(Math.Abs(item.Volume))</td>
                        @if (item.DeliveryAct.DeliveryState.Description == "в работе")
                            {
                        <td>
                            <form action="/Tools/DeletePPE" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#InnerTable" id="form0" method="post">
                                <input type="hidden" name="DeliveryId" value="@item.Id" />
                                <input type="hidden" name="ActId" value="@item.DeliveryActId" />
                                <div class="text-center">
                                    <input id="Submit1" type="submit" value="Удалить" class="btn btn-danger" />
                                </div>
                            </form>
                        </td>
                    }
                        
                    </tr>
                    n++;
                }
            

        </tbody>
    </table>
</div>
