@model WebSklad.Models.DeliveryModel

<div id="InnerTable">


    <h6 style="color:#ff0000">@ViewData["error"]</h6>
    <h6>Материалы и оборудование</h6>
    <table class="table table-sm table-bordered table-hover">
        <thead>
            <tr style="background:#EEF3F6">
                <th>#</th>
                <th>Наименование</th>
                <th>Eд. изм</th>
                <th>Кол-во</th>
                <th>Прочее</th>
                @{ if (ViewBag.state != "проведен")
                    {<th></th>}
                }

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                int n = 1;


                @foreach (var item in Model.DeviceDeliveries)
                {
                    <tr>
                        <td>@n</td>
                        <td>@item.DeviceType.Name</td>
                        <td>шт</td>
                        <td>1</td>
                        <td>@item.SerialNumber</td>

                        @if (item.DeliveryAct.DeliveryState.Description == "в работе")
                        {
                            <td>
                                <form action="/Delivery/DeleteDeviceFromDeliveryTable" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#InnerTable" id="form0" method="post">
                                    <input type="hidden" name="DeliveryId" value="@item.Id" />
                                    <input type="hidden" name="ActId" value="@item.DeliveryActId" />
                                    <div class="text-center">
                                        <input id="Submit1" type="submit" value="Удалить" class="btn btn-danger" />
                                    </div>
                                </form>
                            </td>
                        }
                    </tr>
                    n++;
                }
                @foreach (var item in Model.MaterialDeliveries)
                 {
                    <tr>
                        <td>@n</td>
                        <td>@item.MaterialType.Name</td>
                        <td>@item.MaterialType.Unit.Name</td>
                        <td>@Math.Abs(item.Volume)</td>
                        <td>@item.Other</td>

                        @if (item.DeliveryAct.DeliveryState.Description == "в работе")
                        {
                            <td>
                                <form action="/Delivery/DeleteMaterialFromDeliveryTable" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#InnerTable" id="form0" method="post">
                                    <input type="hidden" name="DeliveryId" value="@item.Id" />
                                    <input type="hidden" name="ActId" value="@item.DeliveryActId" />
                                    <div class="text-center">
                                        <input id="Submit1" type="submit" value="Удалить" class="btn btn-danger" />
                                    </div>
                                </form>
                            </td>
                        }
                    </tr>
                    n++;
                 }
            }
        </tbody>

        </table>
</div>
