@using DbManager;
@model IEnumerable<PPEReportModel>
@using WebSklad.Models;
<link href="~/lib/css/print.css" rel="stylesheet" />
@if (Model != null)
{
    <div id="InnerTable">
        <h6 style="color:#ff0000">@ViewData["error"]</h6>
            <h6>Полученный инструмент и СИЗ работником @ViewBag.worker</h6>
            <table class="table table-sm table-bordered table-hover">
                <thead>
                    <tr style="background:#EEF3F6">
                        <th>#</th>
                        <th>Наименование</th>
                        <th>Кол-во (шт)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int n = 1;
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@n</td>
                                <td>@item.Name</td>
                                <td>@Math.Abs(item.Volume)</td>
                            </tr>
                            n++;
                        }
                     }
                </tbody>
            </table>
     </div>
}