@model WebSklad.Models.WorkerModel;
@using WebSklad.App_code;
@using DbManager;
@{
    ViewData["Title"] = "WorkerMenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/air-datepicker/dist/css/datepicker.css" rel="stylesheet" type="text/css" />
<script src="~/lib/air-datepicker/dist/js/datepicker.js"></script>

<h3>Меню работника</h3>
<form action="/Home/EditWorker" method="post">

    <div class="row">

        <div class="col-md-4 ">

            <label for="name">Фамилия</label>
            <input id="name" type="text" name="Surname" class="form-control" autocomplete="off" required value="@Model.Surname" />

        </div>

        <div class="col-md-4 ">
            <label for="surname">Имя</label>
            <input id="surname" type="text" name="Name" class="form-control" autocomplete="off" required value="@Model.Name" />
        </div>

        <div class="col-md-4 ">
            <label for="midname">Отчество</label>
            <input id="midname" type="text" name="Middlename" class="form-control" autocomplete="off" value="@Model.Middlename" />
        </div>

    </div>
    <div class="row">
        <div class="col-md-6 ">

            <label for="ContractNumber">Номер трудового договора</label>
            <input id="ContractNumber" type="text" name="ContractNumber" class="form-control" autocomplete="off" required value="@Model.ContractNumber" />

        </div>

        <div class="col-md-6 ">
            <label for="date">Дата договора</label>
            <input type='text' id="date" name="ContractDate" class='datepicker-here form-control' required value="@Model.ContractDate.ToShortDateString();" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="TypeId">Тип работника</label>
            @Html.DropDownList("TypeId", ViewBag.WorkerTypes as SelectList, new { @class = "form-control", @autocomplete = "on", @required = "true" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="DeliveryAvaliable">Получение оборудования и материалов</label>
            @Html.CheckBox("DeliveryAvaliable", false)
        </div>
    </div>

    <div class="text-right">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <input id="post" type="submit" value="Сохранить" class="btn btn-primary" />
    </div>
</form>

<script>

    document.getElementById("TypeId").value = "@ViewBag.TypeId";
    if ("@Model.DeliveryAvaliable" === "True")
        document.getElementById("DeliveryAvaliable").checked = true;
</script>

<script>
    $('#date').datepicker({
        startDate: new Date(),
        maxDate: new Date()
    })
</script>
<script>
    $(document).ready(function () {
        if ("@Model.ContractDate.ToShortDateString()" === "01.01.0001") {
            var date = new Date();
            var day = date.getDate();
            var month = date.getMonth() + 1;
            if (day.toString().length === 1)
                day = "0" + day;
            if (month.toString().length === 1)
                month = "0" + month;

            $('#date').val(day + '.' + month + '.' + date.getFullYear());
        }
        else
            $('#date').val("@Model.ContractDate.ToShortDateString()")
    });
</script>

